/* Set for every page */

@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');

* {
	margin: 0px;
	padding: 0px;
}

:root{
	--main-font: 'Source Sans Pro', sans-serif;
	--secondary-font: 'Herr Von Muellerhoff' , cursive;
	--body-font: 'Cabin' , sans-serif;
	--main-font-color-dark: #252525;
	--secondary-font-color: #c59d5f;
	--body-font-color: #515151;
}

html{
	font-family: var(--body-font);
	font-size: 10px;
	color: var(--body-font-color);
	scroll-behavior: smooth;
}

section{
	padding: 3.9rem 0;
}

a{
	text-decoration: none;
}

p{
	font-size: 1.6rem;
}

header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-image: linear-gradient(to bottom, rgb(0,0,0,.5), transparent);
}

.nav{
	height: 7,2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-bar{
	position: relative;
	padding: 2px;
	left: -60px;
	bottom: -23px;
	text-transform: uppercase;
	display: flex;
	position: relative;
	top: 100px;
}

.menu-toggle{
	color: #fff;
	font-size: 2.2rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 2.5rem;
	cursor: pointer;
	z-index: 1500;
}


.nav-list{
	list-style: none;
	position: fixed;
	top: 0;
	left: -30%;
	width: 15%;
	height: 100vh;
	background-color: rgba(11, 12, 15, 0.6);
	padding: 4.4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	z-index: 1250;
	transform: translateX(135%);
	transition: transform .5s;
}

.nav::before{
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100vh;
	height: 100vh;
	z-index: 1000;
	opacity: 0;
	transform: scale(0);
}

.open .fa-bars{
	display: block;
}

.fa-bars{
	display: flex;
	position: relative;
	top: 77px;
}

.open .nav-list{
	transform: translateX(0);
}

.nav-item{
	border-bottom: 2px solid rgb(255,255,255, .3);
}

.nav-link{
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.6rem;
	letter-spacing: 2px;
	margin-right: -2px;
	transition: color.5s;
}

.nav-link:hover{
	color: var(--secondary-font-color);
}

.bg-page{
	width: 100%;
	height: 100vh;
	background: url("img/background-page.png") center no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	text-align: center;
}

.copyright{
	position: relative;
	font-size: 1.5rem;
	bottom: 140px;
	right: 15px;
	text-align: right;
}

html, body{
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* Register CSS */

.regform{
	position: relative;
	width: 800px;
	margin: auto;
	padding: 20px 0px 10px 0px;
	color: #FFFFFF;
	background-color: rgb(0,0,0,.6);
	text-align: center;
	top: -232px;
	left: 340px;
	border-radius: 15px 15px 0px 0px;
	font-size: 15px;
	font-family: 'Signika', sans-serif;
	letter-spacing: 5px;
}

.main{
	position: relative;
	top: 30px;
	left: -343px;
	background-color: rgb(0,0,0,.5);
	width: 800px;
	margin: auto;
	border-radius: 0px 0px 15px 15px;
}

form{
	padding: 30px;
}

.name{
	position: relative;
	margin-left: 25px;
	margin-top: 20px;
	width: 125px;
	color: #FFF;
	font-size: 18px;
	font-weight: 700px;
}


.username{
	position: relative;
	left: center;
	top: -25px;
	line-height: 20px;
	border-radius: 10px;
	padding: 2px 20px;
	font-size: 18px;
	border: none;
}

.password-one{
	position: relative;
	margin-left: 25px;
	margin-top: 30px;
	width: 125px;
	color: #FFF;
	font-size: 18px;
	font-weight: 700px;
}

.password-two{
	position: relative;
	margin-left: 25px;
	margin-top: 30px;
	width: 125px;
	color: #FFF;
	font-size: 18px;
	font-weight: 700px;
}

.pass-one{
	position: relative;
	font-weight: 700px;
	padding: 2px 20px;
	top: -20px;
	line-height: 20px;
	border-radius: 10px;
	font-size: 18px;
	border: none;
}

.pass-two{
	position: relative;
	font-weight: 700px;
	padding: 2px 20px;
	top: -35px;
	line-height: 20px;
	border-radius: 10px;
	font-size: 18px;
	border: none;
}

.email{
	position: relative;
	left: center;
	top: -30px;
	line-height: 20px;
	border-radius: 10px;
	padding: 2px 20px;
	font-size: 18px;
	border: none;
}

.option{
	position: relative;
	left: -10px;
	top: -20px;
	font-size: 15px;
}

.rbutton{
	font: 700 13px/18px Helvetica, arial;
	padding: 2px 20px;
	position: relative;
	top: -20px;
	left: 5px;
	background: #569E3D linear-gradient(#79D858, #569E3D) repeat-x;
}

.rbutton:hover{
	color: #FFF;
}